.container {
  margin-top: 40px;
  padding-top: 20px;
}

@media (min-width: 40.0rem) { 
  .row .column-main {
    margin-left: auto;
    margin-right: auto;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
}

.button-delete {
  margin-top: 15px;
  float: right;
}

@media (max-width: 40.0rem) { 
  .container {
    max-width: 375px;
    /*margin-left: auto;
    margin-right: auto;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;*/
  }

  table {
    table-layout: fixed;
    max-width: 375px;
  }

  table .contactId {
    width: 3%;
  }

  table .first {
    width: 18%;
  }

  table .last {
    width: 24%;
  }

  table .city {
    width: 25%;
  }

  table .state {
    width: 15%;
  }
}

/*@media screen and (min-width : 991px) {
  .btn-delete {
    margin-top: 32px;
  }
}*/

textarea.form-control {
  resize: none;
  height: 80px;
}

.text-muted {
  color: rgba(96, 108, 118, 0.6)
}

/* Make navigation bar fixed at top */
.nav-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  z-index: 100;
  width: 100%;
  padding: 1rem;
  background-color: #F3E0FF;
  text-align: right;
}

/* Alerts for create/update/delete */
.alert {
  padding: 8px 14px 0px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #F3E0FF;
  border: 1px solid #9B4DCA;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*height: 42px;*/
  /*width: 500px;*/
}

.alert-success {
  color: #606C76;
  background-color: #F3E0FF;
  border-color: #9B4DCA;
}

.alert-danger {

}

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  width: 11rem;
  line-height: 2.8rem;
  padding: 0 1.1rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 90px;
  font-size: 12px;
  width: 100%;
  padding: 1rem;
  background-color: #F3E0FF;
  text-align: center;
}

.box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.violet {
  background-color: #9B4DCA;
}

.gray {
  background-color: #606C76;
}

.purple {
  background-color: #F3E0FF;
}

.text-regular {
  font: Roboto;
  font-weight: 400;
}

.lead {
  font-weight: 400;
}